@import "./_elements";
@import "./style";
@import "./responsive";
@import "./animate";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

#cardHeader .img {
  size: 70px;
}
.profileGrid {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 50%;
}

.footer {
    background-color: #00bf9a;
    color: white;
    padding: 1px;
}

#gameHidden {
  padding-top: 10px;
}
#effect {
  padding-left: 20;
}

#gameText {
    padding-left: 10px;
}
#mapViewText {
  padding-left: 13px;
  padding-bottom: 10px;
  padding-top: 5px;
}

#settingsButton {
  padding-bottom: 30px;
}

#mapViewpadding {
  padding-bottom: 10px;
}
body {
  font-family: 'Overpass', sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  // margin: 0 0 200px;
  /* bottom = footer height */
  // padding: 25px;
  min-height: 100%;
}

section {
 padding: 0px;
}

#listItem {
  background: white;
  text-align: left;
}

// .logo {
//   content: url('../img/logo.png');
// }#

// .wrapper {
//   content: url('../img/wrapper-img.gif');
// }

.textArea {
  margin-bottom: 50px;
}
.content {
  text-align: left;
}
// .textboxImg {
//   content: url('../img/textbox1.PNG');
// }

.thumbs-wrapper {
  display: none;
}

.legend {
  display: none;
}

#spotit-image-container {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
}

.spot-it-content {
  #image-container {

    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;

    // width: 100%;
    // height: 300px;
    // overflow:hidden;
    //
    // img {
    //   height: 100%;
    //   min-width: 100%;
    //   left: 50%;
    //   position: relative;
    //   transform: translateX(-50%);
    // }
  }
}

.mapview-dialog-content {
  padding: 0 !important;

  #image-container {

    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;

    // width: 100%;
    // height: 300px;
    // overflow:hidden;
    //
    // img {
    //   height: 100%;
    //   min-width: 100%;
    //   left: 50%;
    //   position: relative;
    //   transform: translateX(-50%);
    // }
  }
}

.smoothie-dialog-content {
  padding: 0 !important;

  #image-container {
    display: inline-block;
    width: 100%;
    height: 40vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // width: 100%;
    // height: 300px;
    // overflow:hidden;
    //
    // img {
    //   height: 100%;
    //   min-width: 100%;
    //   left: 50%;
    //   position: relative;
    //   transform: translateX(-50%);
    // }
  }
}

#logo {
  position: absolute;
  padding-left:  10px;
  padding-top: 10px;
}
#favorite {
  position: absolute;
  padding-top: 10px;
  text-align: right;
  padding-right: 10px;
}

#QRcode {
  text-align: center;
  padding-top: 76px;
  padding-bottom: 35px;
}

#logoHeader {
  text-align: center;
  padding-top: 76px;
  position: absolute;
}

#headerLogo {

  height: 70px
}

#cardButton {
  padding-bottom: 20px;
}
#cartButton {
 text-align: right;
}

#cardContent {
  padding-left: 15px;
}


#player {
  overflow: hidden;
}

#settings {
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
}
#textForm {
  padding-left: 20px;
}
p {
    text-align: center;
    color: #FFFFFF;
    font-family: Overpass, sans-serif;
    font-size: 10px;
    line-height: 0.4;
    background-color: rgb(0, 191, 154);
}
h3 {
    text-align: center;
    color: #FFFFFF;
    font-family: Overpass, sans-serif;
    font-size: 15px;
    line-height: 0.4;
}
#settingsHead {
  padding-bottom: 10px;
}
#main{
  position:absolute;
  border:1px solid black;
  padding:10px;
}
#main > div{
  float:right;
  margin:10px;
}
#QRcodeContent{
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 20px;
}
#footer {
  height: 80px;
  background-color: rgb(0, 191, 154);
}

#emailToMe {
  padding-top: 20px;
  padding-bottom: 40px;
}

#cardButtonSecond{
  padding-top: 8px;
  padding-bottom: 20px;
}
